h2 a::before {
	content: "\1F3CA";
	transform: rotate(0deg) translate(-20px, 0);
	display: inline-block;
}
#selectliveschedule option.optionliveschedule {
display:none;
}
#selectliveschedule option.optionliveschedule.showme {
display:block;
}
h2 {
	transform: translate(-30px, 0);
	padding: 0px 40px 0px 0px;
display:inline-block;
}
h2 a {
	transform: translate(-20px, 0);
	background: green;
	padding: 0px 40px 0px 20px;

        clip-path: polygon(0% 0%, 100% 0%, 95% 50%, 100% 100%, 0% 100%, 0% 0%);
}
body {
background:lightgrey;
}
section{
background:white;
margin:0 30px 10px 30px;
padding:10px;
box-shadow: 5px 2px 2px darkgrey;
}
#Organisateur\ d\'évènements, #Services\ et\ prestations,#reserverboto {
	display: flow-root;
	transform: translate(0);
}
p.location{
font-size:30px;
color:green;
}
.program-live-schedule {
  display: inline-block;
  background-color: #007BFF; /* bleu vif */
  color: #fff;               /* texte blanc */
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.program-live-schedule:hover {
  background-color: #0056b3; /* bleu foncé au survol */
}

